@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

#App{
  position: relative;

  background-color: rgb(24, 23, 34);

  font-family: 'DM Sans', sans-serif;

  color: white;

  display: flex;
  flex-direction: column;

  transition: background-Color 1s ease;
}
